body {
    margin: 0;
}


h2 {
    z-index: 1;
    font-family: 'Gotham', 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
}

.poem {
    width: 375px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
}
p {
    margin-bottom: 15px;
    line-height: 1.45em;
}
.poem h1, .poem h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
}

.poem h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.poem h2 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
    }

.poem h2+p:first-letter {
    float: left;
    font-size: 40px;
    margin: 12px 5px 0px 0px;
}
.poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
}
.poem p:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
html,
body {
    height: 100%;
    background-color: #F1F2F2;
    color: darkslategrey;
}

.div_container {
    display: flex;
    height: 120px;
    align-items: center;
   /* background-color: dodgerblue; */
 
}
.div_container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 1.2em;
    font-size: 16px;
}

/* Top nav Begin */

div.border {
    width: 260px;
    padding: 10px;
    border: 10px solid blue;
    font-size: 0.8em;
    font-family: sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #001b13;
    }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

.topnav a:hover {
    background-color: #00a5bb;
    color: rgb(68, 2, 57);
    }

.topnav a.active {
    background-color: #99542c;
    color: white;
}

/* Top nav end */

/* Bottom nav start */
.bottom_navbar {
    
    background-color:#001b13;
    overflow: hidden;
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bottom_navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
img{
    width:48px;
    height:48px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.social .image:hover {
    scale: 1.2;
    rotate: 35deg;
    translate: 25%;
    box-shadow: 2px 2px 5px 5px rgba(2, 19, 56, 0.5);
    border-radius: 50%;
}


/* Bottom nav end */
