body {
    font-style: italic;
}

img{
    width:48px;
    height:48px;
}

.social .image:hover {
    scale: 1.2;
    rotate: 35deg;
    translate: 25%;
    box-shadow: 2px 2px 5px 5px rgba(2, 19, 56, 0.5);
    border-radius: 15px;
}
h2 {
    z-index: 1;
    font-family: 'Gotham', 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
}

.poem {
    width: 375px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
}
p {
    margin-bottom: 15px;
    line-height: 1.45em;
}
.poem h1, .poem h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
}

.poem h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.poem h2 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
    }

.poem h2+p:first-letter {
    float: left;
    font-size: 40px;
    margin: 12px 5px 0px 0px;
}
.poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
}
.poem p:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
html,
body {
    height: 100%;
    background-color: #F1F2F2;
    color: darkslategrey;
}

.div_container {
    display: flex;
    justify-content: left;
    align-items: center;
}
.inline {
   float: right;
}